<ion-content>
  <!-- Contenedor principal con layout de dos columnas -->
  <div class="main-container">
    <!-- Área de contenido principal -->
    <div class="content-area">
      <!-- Tarjeta de perfil de usuario -->
      <ion-card class="perfil-card">
        <ion-card-header>
          <ion-card-title>Perfil de usuario</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form (ngSubmit)="guardarCambios()" #perfilForm="ngForm">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input
                [(ngModel)]="usuario.nombre"
                name="nombre"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Primer apellido</ion-label>
              <ion-input
                [(ngModel)]="usuario.apellido1"
                name="apellido1"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Segundo apellido</ion-label>
              <ion-input
                [(ngModel)]="usuario.apellido2"
                name="apellido2"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input
                type="email"
                [(ngModel)]="usuario.email"
                name="email"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input
                type="password"
                [(ngModel)]="usuario.password"
                name="password"
              ></ion-input>
            </ion-item>
            <ion-button type="submit" class="modificar-button"
              >Guardar</ion-button
            >
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
