<ion-content>
  <!-- Contenedor General -->
  <div class="main-container">
    <!-- Barra Lateral -->
    <aside class="sidebar">
      <div class="sidebar-top">
        <img
          src="assets/lLogo.png"
          alt="Logo"
          class="sidebar-icon logo"
          (click)="goToHome()"
        />
        <ion-icon
          name="star"
          class="sidebar-icon favoritos"
          (click)="irAFavoritos()"
        ></ion-icon>
        <ion-icon
          name="person"
          class="sidebar-icon profile"
          (click)="goToProfile()"
        ></ion-icon>
        <ion-icon
          name="settings"
          class="sidebar-icon settings"
          (click)="goToSettings()"
        ></ion-icon>
      </div>
      <div class="sidebar-bottom">
        <ion-icon
          name="log-out"
          class="sidebar-icon sign-out"
          (click)="logout()"
        ></ion-icon>
      </div>
    </aside>

    <!-- Contenedor personalizado para el encabezado -->
    <div class="custom-header">
      <!-- Buscador -->
      <ion-searchbar
        class="custom-searchbar"
        placeholder="Buscar"
        [(ngModel)]="searchTerm" (ionInput)="onSearchChange()"
      ></ion-searchbar>
    </div>

    <!-- Contenido Principal -->
    <div class="content-area">

      <!-- SPINNER mientras se cargan los datos -->
    <div *ngIf="loading" class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando favoritos...</p>
    </div>
      
    <ng-container *ngIf="!loading">
      <h1 class="page-title">Tus Productos Favoritos</h1>
      
      <!-- Lista de productos favoritos -->
      <ion-grid class="product-grid">
        

        <ion-row>
          <ion-col
            size="6"
            size-md="3"
            *ngFor="let producto of productosFiltrados">
            
            <ion-card
              class="product-card"
              (click)="goToProduct(producto)"
              tappable
            >
              <img
                class="product-img"
                [src]="producto.imagen"
                alt="Imagen del producto"
              />
              <ion-card-content>
                <div class="product-info">
                  <h3>{{ producto.nombre }}</h3>
                  <p>{{ producto.supermercado }}</p>
                  <p>Precio: {{ producto.precio }}€</p>
                  <p class="precio-por-unidad">
                    Precio por unidad: {{ producto.precioUnidad }} €/unidad
                  </p>
                </div>
                <ion-button
                  fill="clear"
                  color="danger"
                  (click)="toggleFavorito(producto); $event.stopPropagation()"
                >
                  <ion-icon name="heart"></ion-icon> Eliminar
              </ion-button>
              
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="productosFiltrados.length === 0" class="no-favoritos">
        <ion-icon name="sad-outline" size="large"></ion-icon>
        <p>No tienes productos guardados en favoritos</p>
        <ion-button (click)="goToHome()" color="primary" class="buscar-btn">
          Buscar productos
        </ion-button>
      </div>
    </ng-container>      
    </div>
  </div>
</ion-content>
