<ng-container *ngIf="mostrarSidebar">
  <aside class="sidebar">
    <div class="sidebar-top">
      <img
        src="assets/lLogo.png"
        alt="Logo"
        class="sidebar-icon logo"
        (click)="goToHome()"
      />

      <ion-icon
        name="star"
        class="sidebar-icon favoritos"
        (click)="irAFavoritos()"
      ></ion-icon>

      <ion-icon
        name="person"
        class="sidebar-icon profile"
        (click)="goToProfile()"
      ></ion-icon>

      <ion-icon
        name="settings"
        class="sidebar-icon settings"
        (click)="goToSettings()"
      ></ion-icon>
    </div>

    <div class="sidebar-bottom">
      <ion-icon
        name="log-out"
        class="sidebar-icon sign-out"
        (click)="logout()"
      ></ion-icon>
    </div>
  </aside>
</ng-container>

<ion-router-outlet></ion-router-outlet>
