<ng-container *ngIf="mostrarSidebar">
  <aside class="sidebar">
    <div class="sidebar-top">
      <img
        src="assets/lLogo.png"
        alt="Logo"
        class="sidebar-icon logo"
        (click)="goToHome()"
      />

      <!-- Solo si el usuario está logueado -->
      <ion-icon
        name="storefront"
        class="sidebar-icon favoritos"
        (click)="goToProducto()"
      ></ion-icon>

      <!-- Solo si el usuario está logueado -->
      <ion-icon
        *ngIf="isLoggedIn"
        name="star"
        class="sidebar-icon favoritos"
        (click)="goToFavoritos()"
      ></ion-icon>

      <!-- Solo si es cliente -->
      <ion-icon
        *ngIf="isLoggedIn"
        name="person"
        class="sidebar-icon profile"
        (click)="goToProfile()"
      ></ion-icon>

      <!-- Solo si es admin -->
      <ion-icon
        *ngIf="isLoggedIn && rol === 'admin'"
        name="settings"
        class="sidebar-icon settings"
        (click)="goToSettings()"
      ></ion-icon>
    </div>

    <!-- Cierre de sesión visible si está logueado -->
    <div class="sidebar-bottom" *ngIf="isLoggedIn">
      <ion-icon
        name="log-out"
        class="sidebar-icon sign-out"
        (click)="logout()"
      ></ion-icon>
    </div>
  </aside>

  <!-- Botón flotante -->
  <button class="chat-button" (click)="mostrarChat = !mostrarChat">💬</button>

  <!-- Chatbot flotante -->
  <app-chatbot *ngIf="mostrarChat"></app-chatbot>
</ng-container>
<ion-router-outlet> </ion-router-outlet>
