.logo-container {
  text-align: center;
  margin-bottom: 15px;
}

.main-logo {
  width: 150px;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-wrap: wrap;
}

.logos-container img {
  height: 100px;
  object-fit: contain;
}

.logos-container img[alt="Eroski"] {
  width: 200px;
}

.logos-container img[alt="Día"] {
  width: 90px;
}

.logos-container img[alt="Carrefour"] {
  width: 100px;
}

.logos-container img[alt="Hipercor"] {
  width: 300px;
  height: 100px;
}
