<ion-header>
  <ion-toolbar>
    <ion-title>Supermercado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Supermercado" class="main-logo" />
  </div>

  <h2>Supermercados Disponibles</h2>
  <div class="logos-container">
    <img src="assets/eroski.png" alt="Eroski" />
    <img src="assets/carrefour.png" alt="Carrefour" />
    <img src="assets/hipercor.png" alt="Hipercor" />
  </div>

  <ion-button expand="full" (click)="goToLogin()">Iniciar Sesión</ion-button>
  <ion-button expand="full" (click)="goToRegister()" fill="outline">Registrarse</ion-button>

</ion-content>
