

<ion-content class="ion-padding register-container">
  <div class="register-box">
    <div class="icon-container">
      <ion-icon name="person-add-outline"></ion-icon>
    </div>

    <ion-item class="input-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Apellido 1" [(ngModel)]="apellido1"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Apellido 2" [(ngModel)]="apellido2"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-input type="date" [(ngModel)]="birthdate"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="register()">REGISTRARSE</ion-button>

    <p class="text-center">
      ¿Ya tienes una cuenta?
      <a (click)="goToLogin()" class="link">Inicia sesión</a>
    </p>
  </div>
</ion-content>
